* {
  padding: 0;
  margin: 0;
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  font-family: "Helvetica Neue", "Lucida Grande", sans-serif;
  font-weight: 500;
}

#flex-group {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 300px;
  width: 600px;

  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;

  border: 1px solid #bce8f1;
  border-radius: 15px;
  box-shadow: 0 0 7px rgba(0,0,0,0.5);
}

.settings-wrapper {
  display: flex;
  flex-direction: row;
  flex-grow: 1;

  /*border-bottom: 1px;*/
  /*border-bottom-style: solid;*/
  /*border-bottom-color: #bce8f1;*/
  margin-bottom: 10px;
  padding-bottom: 10px;
  padding-top: 10px;
}

/*.settings-wrapper:last-child {*/
  /*border: none;*/
/*}*/

.setting {
  display: flex;
  flex-direction: column;
  justify-content: center;
  order: 1;
  min-width: 33%;
}

#setting-row {
  display: flex;
  justify-content: center;
  order: 1;
  min-width: 33%;
  flex-direction: row;
}

.setting-definition {
  display: flex;
  order: 2;
  align-items: center;

  border-left-style: solid;
  border-left-color: #bce8f1;
  border-left-width: 1px;
  margin-left: 5px;
  padding-left: 10px;
}

.context-cache {
  display: flex;
  margin: 0 3px 3px 3px;
  justify-content: flex-start;
}

.context-cache:nth-child(2) {
  margin-top: 10px;
  margin-bottom: 10px;
}

.context-cache .checkbox-wrapper {
  display: flex;
  align-items: center;
}

.list-item {
  background-color: white;
  height: 15px;
  margin: 3px 3px 3px 3px;
  padding: 1.4em;
  padding-left: 1.5em;
  border: 1px solid #ddd;
}

.list-item:first-child {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

.list-item:last-child {
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
}

.title {
  background-color: #d9edf7;
  padding-top: 5px;
  padding-bottom: 5px;
  color: #31708f;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

h3 {
  text-align: center;
  border-bottom-color: rgba(188,232,230,1);
  border-bottom-width: 3px;
}

p {
  padding-right: 10px;
}

#sortable {
	list-style-type: none;
	margin: 0px;
	padding: 0px;
}

span {
  padding-left: 10px;
}